body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff61dd;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ff6f61;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.video-principal {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.video-principal video {
    width: 10%;
    height: auto;
    border-radius: 10px;
}
.video-principal {
    text-align: center;
    margin: 20px auto;
}

.video-principal video {
    width: 50%;
    max-width: 800px;
    border-radius: 10px;
}

#btnPlay {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff6f61;
    color: rgb(207, 21, 21);
    border: none;
    border-radius: 5px;
}

#btnPlay:hover {
    background-color: #e65b50;
}
